#btn_share{
    margin: 10px;
    
}
.edit{
    opacity: 90%;
}

.btn{
    margin: 5px;
}

.right_btn{
    float: right;
}

.post_heading{
    text-align: center;
    color: white;
    background-color: rgb(106, 182, 253);
    margin: auto;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}



.post{
    margin: auto;
    width: 80%;
    border: 1px rgb(107, 188, 255) solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fafafa;
}

.no_post{
    font-size: 10px;
    text-align: center;
    background-color: white;
    color: rgb(107, 188, 255);
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-top: 30px;;

}